body{
    font-family:'East Sea Dokdo',cursive;
    font-size:1.5rem;
}
h2{
    font-family: 'Sedgwick Ave Display', cursive; 
    font-size:4rem;
}

.header{
    display:flex;
    width:100%;
    justify-content: flex-start;
    align-items:center;
    
}
.header nav{
    display:flex;
    Justify-content: flex-end;
    width:80%;
}
nav a{
    display:flex;
    text-decoration:none;
    width:6rem;
    justify-content:center;
    align-items:center;
    color:black;
    font-size:2rem;
}
nav: hover{

}
.bodyb{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:url()
}
.bodyb button{
    display:flex;
    margin-top:-2rem;
}
section{
    text-align:center;
    padding-top:5%;
}
footer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding-top:5%;
    width:100%;
    /* border:1px solid black; */
}

img{
    display:flex;
    justify-content:center;
    align-items:center;
    width:15rem;
    padding:2rem;
    /* border:1px solid black; */
}
.bodyb button{
    background:white;
}
section button{
    background:white;
    color:red;
}










 

/* font-family: 'East Sea Dokdo', cursive; */
/* font-family: 'Sedgwick Ave Display', cursive; */